/* global variable */

:root {
    --primary-color: #e50914;
    --dark-color: #141414;
}

/* reset */

* {
    box-sizing: border-box;
    /*so the padding won't effect with the width*/
    margin: 0;
    padding: 0;
}

body {
    font: normal 1em Helvetica, Arial, sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: #999;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5em 0;
    font-size: 1em;
}

img {
    width: 100%;
}

.text-dark {
    color: #999;
}

.text-lg {
    font-size: 1em;
}

.text-center {
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 2em;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead th {
    padding: 0.6em;
    text-align: center;
    line-height: 1.5;
}

.table tbody tr td {
    color: #999;
    font-size: 0.7em;
    padding: 0.4em 1em;
    text-align: center;
    line-height: 1.5;
}

.table tbody tr td:first-child {
    text-align: left;
}

.table thead tr th:first-child {
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background: #222;
}

.table tbody tr:nth-child(even) {
    color: white;
}

/* showcase */

#wrapper {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    /* overflow-y: ; */
    overflow: auto;
}

.showcase {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/showcase-top-background.png) no-repeat center center/cover;
}

.showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}

.showcase-top {
    z-index: 2;
    position: relative;
    height: 20%;
}

/* .showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.showcase-top h1 {
    /* font-size: 40px; */
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
    color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-top p, .showcase-top a {
    color: #ccc;
    position: absolute;
    /* text-align: center; */
    font-size: 0.7em;
    background: var(--primary-color);
    padding: 0.3em;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -90%);
}

.showcase-top a:hover {
    color: white;
}

#top>div.showcase-content>a>i {
    font-size: 1em;
}

.showcase-content {
    z-index: 2;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2em;
}

.showcase-content h1 {
    font-weight: 700;
    max-width: 97vw;
    font-size: 3.6em;
    line-height: 1.1;
    margin: 0 0 1em;
}

.showcase-content p {
    color: #ccc;
    font-weight: lighter;
    font-size: 1.5em;
    line-height: 1.25;
    margin: 0 0 2.2em;
}

/* tabs-1 */

.full-height {
    position: relative;
    height: 100%;
}

.tabs {
    background: var(--dark-color);
    padding-top: 1em;
    border-bottom: 3px solid #3d3d3d;
    border-right: none;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#tab-1 .fab, #tab-2 .fas, #tab-3 .fas, #tab-4 .fas, #tab-5 .fas, #tab-6 .fab {
    font-size: 2em;
}

#tab-1 p, #tab-2 p, #tab-3 p, #tab-4 p, #tab-5 p, #tab-6 p {
    font-size: 0.7em;
}

#tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6 {
    padding: 0.2em;
    padding-bottom: 0.1em;
}

.tabs p {
    font-size: 1em;
    padding-top: 0.6em;
}

.tabs .container>div {
    padding: 0.5em;
}

.tabs .container>div:hover {
    color: white;
    cursor: pointer;
}

.tab-border {
    border-bottom: 4px solid var(--primary-color);
}

/* Tab content */

/* Hide content initially */

#tab-1-content, #tab-2-content, #tab-3-content, #tab-4-content, #tab-5-content, #tab-6-content {
    display: none;
}

.show {
    display: block !important;
}

#tabs-1, #tabs-2 {
    display: none;
}

.show-all {
    display: block !important;
}

/* tab-1-content */

.tab-content {
    padding: 2.5em 1em;
    padding-top: 4em;
    color: white;
    background: black;
}

/* #tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    align-items: center;
    justify-content: center;
    text-align: left;
} */

.updown-btn a {
    color: #ccc;
}

.updown-btn a:hover {
    color: #fff;
    /* background: none; */
}

.home-btn, .program-btn {
    position: absolute;
    text-align: center;
    top: 6%;
    left: 10%;
}

.reading-btn {
    position: absolute;
    text-align: center;
    top: 6%;
    right: 10%;
}

/* tab-2-content */

#tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
}

#tab-2-content .tab-2-content-bottom {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* tab-1-content */

#tab-1-content .tab-1-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* tab-3-content */

#tab-3-content .tab-3-content-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1px;
    grid-template-areas: 'img1 img2 img3' 'img4 img5 img6';
    width: 100%;
    height: 65vh;
    margin-top: 2vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#tab-3-content .tab-3-content-bottom .game-img1 {
    grid-area: img1;
    background: url(../../photo-gallery/img/img1.jpg);
    background-size: cover;
    background-position: -50px 0;
}

#tab-3-content .tab-3-content-bottom .game-img2 {
    grid-area: img2;
    background: url(../../photo-gallery/img/img2.jpg);
    background-size: cover;
    background-position: -90px 0;
}

#tab-3-content .tab-3-content-bottom .game-img3 {
    grid-area: img3;
    background: url(../../photo-gallery/img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50px 0;
}

#tab-3-content .tab-3-content-bottom .game-img4 {
    grid-area: img4;
    background: url(../../photo-gallery/img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50px 0;
}

#tab-3-content .tab-3-content-bottom .game-img5 {
    grid-area: img5;
    background: url(../../photo-gallery/img/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}

#tab-3-content .tab-3-content-bottom .game-img6 {
    grid-area: img6;
    background: url(../../photo-gallery/img/img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -60px 0;
}

/* tabs-2 */

/* tab-4-content */

#tab-4-content .tab-4-content-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#tab-4-content .tab-4-content-bottom .text-content {
    margin-top: 1em;
}

#tab-4-content .tab-4-content-bottom .text-content p {
    line-height: 1.5;
    padding: 1.5em;
    text-align: justify;
}

#tab-4-content .tab-4-content-bottom .circle01 {
    width: 180px;
    height: 180px;
    background: url(../../readings/reading-I/img/1.jpg);
    border-radius: 50%;
    background-size: cover;
    float: left;
    shape-outside: circle();
    margin: 15px;
}

/* tab-5-content */

#tab-5-content {
    background: url(../../readings/reading-II/img/bg.jpg);
    background-size: 10%;
    border: 10px yellow dashed;
    padding: 2em;
    margin-top: 2em;
}

#tab-5-content .tab-5-content-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
}

#tab-5-content .tab-5-content-bottom p {
    line-height: 1.5;
    text-align: justify;
}

#tab-5-content .tab-5-content-bottom img {
    padding-top: 1em;
}

/* tab-6-content */

#tab-6-content .tab-6-content-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#tab-6-content .tab-6-content-bottom .text-content {
    margin-top: 1em;
}

#tab-6-content .tab-6-content-bottom .text-content p {
    line-height: 1.5;
    padding: 1.5em;
    text-align: justify;
}

#tab-6-content .tab-6-content-bottom .circle02 {
    width: 180px;
    height: 180px;
    background: url(../../readings/reading-III/img/1.png);
    border-radius: 50%;
    background-size: cover;
    background-position: -10px, 0;
    float: left;
    shape-outside: circle();
    margin: 15px;
}

/* containers */

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2em;
}

/* buttons */

.btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.1em 1em;
    font-size: 1.5em;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5em;
    outline: none;
    /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45); */
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
    /* padding: 1.6em 2.2em; */
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    margin: auto;
    font-size: 1.5em;
    padding: 0.9em 1em;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1em;
    padding: 0.5em 1em;
}

.btn-sm {
    color: #999;
    font-size: 0.7em;
    padding: 0.1em;
}

/* @media (max-width:1000px) {
    * {
        color: red;
    }
    .showcase-content h1 {
        font-size: 3em;
    }
    .showcase-content p {
        font-size: 1.3em;
    }
    .btn-xl {
        font-size: 1.3em;
    }
    #top>div.showcase-content>a>i {
        font-size: 0em;
    }
    .hide-sm {
        display: none;
    }
    .container {
        max-width: 95%;
        margin: auto;
        overflow: hidden;
        padding: 0 2em;
    }
} */

@media (max-width:800px) {
    * {
        /* color: blue; */
    }
    .hide-sm {
        display: none;
    }
    .container {
        max-width: 95vw;
        margin: auto;
        scroll-behavior: smooth;
        overflow-x: visible;
        padding: 0 2em;
    }
    .showcase-top h1 {
        /* font-size: 40px; */
        max-width: 98%;
        font-size: 2em;
        text-align: center;
        font-weight: bolder;
        color: var(--primary-color);
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #tab-3-content .tab-3-content-bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 1px;
        grid-template-areas: 'img1 img2' 'img3 img4''img5 img6';
        width: 100%;
        height: 65vh;
        margin-top: 1vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .showcase-top p, .showcase-top a {
        color: #ccc;
        position: absolute;
        /* text-align: center; */
        font-size: 0.7em;
        background: var(--primary-color);
        padding: 0.1em;
        top: 50%;
        right: 0%;
        transform: translate(-50%, -90%);
    }
    .showcase-top a:hover {
        color: white;
    }
    .table {
        overflow-x: scroll !important;
    }
    .showcase-content h1 {
        font-weight: 700;
        max-width: 90vw;
        font-size: 3em;
        line-height: 1.1;
        margin: 0 0 1em;
    }
    .showcase-content p {
        color: #ccc;
        font-weight: lighter;
        font-size: 1em;
        line-height: 1.25;
        margin: 0 0 2.2em;
    }
    #tab-1, #tab-2, #tab-3, #tab-4, #tab-5, #tab-6 {
        padding: 0.2em;
        padding-bottom: 0.6em;
    }
    .home-btn, .program-btn {
        position: absolute;
        text-align: center;
        top: 12%;
        left: 41%;
    }
    .reading-btn {
        position: absolute;
        text-align: center;
        top: 12%;
        right: 40%;
    }
    #tab-4-content .tab-4-content-bottom .circle01 {
        width: 180px;
        height: 180px;
        background: url(../../readings/reading-I/img/1.jpg);
        max-width: 100%;
        margin: auto;
        border-radius: 0%;
        background-size: cover;
        float: none;
        shape-outside: square();
        margin: 15px;
    }
    #tab-6-content .tab-6-content-bottom .circle02 {
        width: 180px;
        height: 180px;
        background: url(../../readings/reading-III/img/1.png);
        max-width: 100%;
        margin: auto;
        border-radius: 0%;
        background-size: cover;
        float: none;
        shape-outside: square();
        margin: 15px;
        margin-bottom: 0;
    }
    #tab-6-content .tab-6-content-bottom .text-content p, #tab-4-content .tab-4-content-bottom .text-content p {
        padding-top: 0;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        text-align: left;
    }
    #tab-5-content {
        padding: 1em;
        border: 5px yellow dashed;
    }
    #tab-3-content>div.tab-3-content-top {
        margin-bottom: 1em;
    }
    #tab-2-content>div.tab-2-content-bottom {
        display: block;
    }
}