*{
    margin: 0;
    padding: 0;
}
.p5Canvas {
    display: block;
    margin:  auto;
}

img{
    display: block;
    margin: auto;
    width: 100%;
}

.tag1{
    position: fixed;
    background: rgb(221, 58, 29);
    color:white;
    padding:3px 10px;
    top: 0%;
}
.tag1 h1{
    font-size: 18px;
}

.tag2{
    position: fixed;
    background: rgb(221, 58, 29);
    color:white;
    padding:3px 10px;
    top: 95%;
    left:91.1%;
}
.tag2 h1{
    font-size: 18px;
}

